@model Project_DMD.Models.Author

@{
    ViewBag.Title = "ShowAuthor";
}

<div class="well">
    <h2>Author Info</h2>
</div>

<div>
    <h4>@Html.DisplayFor(model => model.AuthorName)</h4>
    <hr />
    <table class="table table-bordered" style="width:400px">
        <tr>
           

            <th>
                @Html.DisplayNameFor(model => model.PublishedArticles)
            </th>
        </tr>
        <tr>

            <td>
                @{
                    if (Model != null && Model.PublishedArticles != null)
                    {
                        var count = 0;
                        foreach (var article in Model.PublishedArticles)
                        {
                            var str = ++count == Model.PublishedArticles.Count ? "" : ",";
                            <p>@Html.ActionLink(article.Title, "Details", new { id = article.ArticleId })@str</p>
                        }
                    }
                }
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-warning" })
</p>
