@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="jumbotron">
        <h1>Publication Management System</h1>
        <p class="lead">Project for Data Modelling and Databases course in Innopolis University.</p>
        <p><a href="~/Articles" class="btn btn-success btn-lg">Look for articles &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>More than one million atricles</h2>
            <p>First part of our task was to import at least one million publications from one of repositories and then implement search, insert, delete and update operations for this publications.</p>
        </div>
        <div class="col-md-4">
            <h2>Web-based Graphical User Interface</h2>
            <p>Second part of our task was to develop web-based graphical user interface to interract with a publications database.</p>
        </div>
        <div class="col-md-4">
            <h2>Technologies that we used</h2>
            <p>We have chosen C#, because most of us have a lot of experience working with this language. Also we decided to use ASP.NET as a platform.
            We use PostgreSQL to work with database and Bootstrap for frontend. For version control we execute Git.</p>
        </div>
    </div>
</div>